.btn{
   margin : 10px;
}

.card{
   margin : 15px;
   width: 600px;
  height: 50px;
}

.vert{
   background-color: rgba(68, 146, 68, 0.959);
}

.rouge{
   background-color: rgba(184, 36, 36, 0.979);
}