<button type="button" class="btn" mat-mini-fab color="warn" (click)="vitesse5()">5</button>
<button type="button" class="btn" mat-mini-fab color="warn" (click)="vitesse4()">4</button>
<button type="button" class="btn" mat-mini-fab color="warn" (click)="vitesse3()">3</button>
<button type="button" class="btn" mat-mini-fab color="warn" (click)="vitesse2()">2</button>
<button type="button" class="btn" mat-mini-fab color="warn" (click)="vitesse1()">1</button>
<button type="button" class="btn" mat-mini-fab color="warn" (click)="vitessen()">N</button>
<button type="button" class="btn" mat-mini-fab color="warn" (click)="vitesser()">R</button><br/>

<!-- <div class="card w-50">
   <div class="card-body">
     <h5 class="card-title">Vitesse :</h5>
     <p class="card-text">{{vitesse}}</p>

   </div>
 </div>

 <div class="card w-50">
   <div class="card-body">
     <h5 class="card-title">Rapport engagé</h5>
     <p class="card-text">{{rapport}}</p>

   </div>
 </div> -->
 <mat-card class="card mat-card">Vitesse : {{vitesse}}</mat-card><br/>
 <mat-card class="card mat-card {{couleur}}">Rapport engagé : {{rapport}}</mat-card><br/>
